<h1>Vote4Vote</h1>

<% if !current_user.profile || !current_user.profile.completed? %>
  <div class="alert alert-danger fade in">You must complete your profile before continuing.</div>
  <%= link_to "Create Profile", new_profile_path %>
<% elsif !current_user.email_verified? %>
  <div class="alert alert-danger fade in">You must verify your email before continuing. Check your email for the verification link.</div>
<% else %>
  <h4>Your candidate: <%= current_user.profile.candidate %></h4>
  <h4>Your state: <%= current_user.profile.state %></h4>
  <% if current_user.profile.matched_profile %>
    <br>
    <h4>Your matched voter: <%= current_user.profile.matched_user.email %></h4>
    <h4>Their state: <%= current_user.profile.matched_profile.state %></h4>
    <h4>Their candidate: <%= current_user.profile.matched_profile.candidate %></h4>
    <br>
  <% else %>
    <h2><%= link_to "Get matched with another voter!", find_match_path %></h2>
  <% end %>
<% end %>

<p>
<p>
<p>
<%= link_to "Signout", destroy_user_session_path, method: :delete %>
