<h1>Home#index</h1>

<% unless current_user.profile && current_user.profile.completed? %>
  <div class="alert alert-danger fade in">You must complete your profile before continuing</div>
  <%= link_to "Create Profile", new_profile_path %>
<% else %>
  <h4>Your candidate: <%= current_user.profile.candidate %></h4>
  <h4>Your state: <%= current_user.profile.state %></h4>
  <% if current_user.profile.match %>
    <h4>Your matched voter: <%= current_user.profile.match %></h4>
    <br>
    <a class="twitter-share-button" data-size="large" href="<%= @twitter_url %>">
      Tell your followers about Vote4Vote!
    </a>
  <% else %>
    <h2><%= link_to "Get matched with another voter!", find_match_path %></h2>
  <% end %>
<% end %>

<p>
<%= link_to "Signout", destroy_user_session_path, method: :delete %>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
