<!DOCTYPE html>
<html>
  <head>
    <title>Vote4Vote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= image_tag('banner.png', class: 'img-responsive center-block') %>
      <%= yield %>
    </div>
  </body>
</html>
